.inventory__data{
    border: 2px solid #777;
    display: flex;
    width: 1400px;
    margin: auto;
    padding: 2rem;
    justify-content: space-around;
    margin-top: 1rem;
}

.inventory_data-container{
    height: 200px;
    width: 300px;
}

.inventory__data-element{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.inventory__data-title{
    margin-top: 1rem;
    text-align: center;
}

.element-money{
    background-color: #8AC926;
}

.element-products{
    background-color: #FFCA3A;
}

.element-orders{
    background-color: #FF595E;
}

.inventory__data-element img{
    width: 30%;
    height: auto;
}


/* Inventory and products*/

.products{
    padding: 20px;
}

.products__description{
    display: grid;
    grid-template-columns: 500px 450px 400px 60px;
    font-family: var(--title-font);
}

.products__product{
    display: grid;
    grid-template-columns: 500px 450px 400px  60px;
    font-family: var(--title-font);
    padding: 18px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: var(--subtitle-weight);
    margin-top: 2.5rem;
    box-shadow: 26px 20px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: .7s ease-out;
}

.products__product:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: scale(1.01);
}








